name: Build image

on:
  schedule:
    - cron: '0 0 16 * *'
  push:
    branches:
      - main


jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        arch:
          - amd64
          - arm64
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: -1
      - name: create tag
        run: |
          YY=$(date +%y)
          MM=$(date +%m)
          REV=0
          while git show-ref --tags | grep -q "refs/tags/${YY}.${MM}.${REV}"; do
          REV=$((REV+1))
          done
          echo "IMAGE_VERSION=${YY}.${MM}.${REV}" >> $GITHUB_ENV
      - name: Login to docker.io
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        with:
          platforms: linux/${{ matrix.arch }}
      - name: Setup Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          builder: ${{ steps.buildx.outputs.name }}
          context: .
          file: ./Dockerfile
          platforms: linux/${{ matrix.arch }}
          push: ${{ github.event_name != 'pull_request' }}
          provenance: false
          tags: |
            ghcr.io/being24/latex-docker:latest-${{ matrix.arch }}
            ghcr.io/being24/latex-docker:${{ env.VERSION }}-${{ matrix.arch }}
            ${{ secrets.DOCKERHUB_USERNAME }}/latex-docker:latest-${{ matrix.arch }}
            ${{ secrets.DOCKERHUB_USERNAME }}/latex-docker:${{ env.VERSION }}-${{ matrix.arch }}

  manifest:
    runs-on: ubuntu-22.04
    needs: build
    if: ${{ github.event_name != 'pull_request' }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: -1
      - name: create tag
        run: |
          YY=$(date +%y)
          MM=$(date +%m)
          REV=0
          while git show-ref --tags | grep -q "refs/tags/${YY}.${MM}.${REV}"; do
          REV=$((REV+1))
          done
          echo "IMAGE_VERSION=${YY}.${MM}.${REV}" >> $GITHUB_ENV
      - name: Login to ghcr.io
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - uses: ./.github/actions/create-multi-arch-image
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}
          image: ghcr.io/being24/latex-docker
          image-version: ${{ env.IMAGE_VERSION }}
      - name: Create and push manifest images
        uses: Noelware/docker-manifest-action@0.4.1
        with:
          inputs: ghcr.io/being24/latex-docker:latest,ghcr.io/being24/latex-docker:${{ env.IMAGE_VERSION }},ghcr.io/being24/latex-docker:2023-frozen
          images: ghcr.io/being24/latex-docker:latest-amd64,ghcr.io/being24/latex-docker:latest-arm64
          push: true
      - name: Create GitHub Releases
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          TAG=${{ env.IMAGE_VERSION }}
          if git show-ref --tags | grep -q "refs/tags/${TAG}"
          then
            echo "${TAG} exists. Skipped"
            exit 0
          fi
          git tag ${TAG}
          git push --tags
          gh release create ${TAG} --generate-notes

